# MongoDB Atlas connection string
MONGODB_URL='mongodb+srv://<username>:<password>@<cluster>.mongodb.net/election?retryWrites=true&w=majority'

# Delay between scrape requests (ms) to respect rate limits
SCRAPE_DELAY_MS=1500

# Constituency crawl defaults
CRAWL_LIMIT=20
CRAWL_STALE_HOURS=12
